<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer List</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>TeachersList</title>
</head>
<style> 
table{
    background-color: aquamarine;
    border-radius: 25px;
}
th, td {
    border-radius: 25px;
    padding: 13px;
    text-align: left;
}

div{
    background-color: #EF959D;
}
 
</style>
<body>
    
    <div>
    <h1> LIST OF CUSTOMERS  </h1>
       <br>       
    <table>
        <tr>
            <th>Profile Picture</th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Address</th>
            <!-- <th>Active Status</th> -->
            <th> Date Of Birth </th>
            <th> Gender </th>
            <th> Occupation </th>
            <th> Balance </th>
          </tr>
{% for i in list %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{i.profile_picture}}</td>
      <td>{{i.name}}</td>
      <td>{{i.mobile_number}}</td>
      <td>{{i.email}}</td>
      <td>{{i.address}}</td>
      <!-- <td>{{i.is_active}}</td> -->
      <td>{{i.dob}}</td>
      <td>{{i.gender}}</td>
      <td>{{i.occupation}}</td>
      <td>{{i.balance}}</td>
    </tr>
{% endfor%}
</table>
</div>
</body>
</html>
</body>
</html>